@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Rajdhani, sans-serif;
    background-color: #f7f7f7;
}

.txtLogoColor{
    color: #303A42;
}
.txtLogoColor:hover{
    color: rgb(22, 133, 133);
}
.bgLogoColor{
    background-color: #303A42;
}
