@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

body {
    font-family: Rajdhani, sans-serif;
    background-color: #ececec;
}

.btn {
    @apply inline-block px-7 py-3 bgLogoColor text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-gray-800 hover:shadow-lg focus:bg-gray-800 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-900 active:shadow-lg transition duration-150 ease-in-out;
}

.linkColor {
    color: #1d7cac;
}
.hoverLink:hover {
    color: #168585;
}
.bgLogoColor {
    background-color: #2d3d4b;
}
