@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Rajdhani, sans-serif;
    background-color: #e9e9e9;
}

.linkColor{
    color: #1d7cac;
}
.hoverLink:hover{
    color: #168585;
}
.bgLogoColor{
    background-color: #303A42;
}
